<p>landc works!</p>

<a href ="nurseappoint"><button>View Appoint</button></a>
<a href ="admin"><button>Admin</button></a>
<a href ="mainpg"><button>Main Page</button></a>
<a href ="frontpage"><button>Front Page</button></a>

<!--<input type="text" [(ngModel)]="searchQuery" (input)="filterItems()" placeholder="Search...">
    <ul>
        <li *ngFor="let item of filteredItems">{{ item.name }}</li>
    </ul>-->

    <!--<mat-form-field appearance="fill">
        <mat-label>Search countries by name</mat-label>
        <input matInput [(ngModel)]="searchTerm" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>-->