.card{
    width: 500px;
    height: 400px;
    padding-top: 40px;
    margin-left: 480px;
    margin-top: 20px;
}
.pw{
    width: 300px;
    padding-left: 80px;
}
.heading{
    padding-left: 160px;
}
.save:hover{
    background-color:lightcoral ;
    padding-right: 10px;
  }
  .saved:hover{
    background-color: skyblue;
  }