
.flex-container{
    display: flex;
}
.flex-child-1{
    margin-right: 30px;
    flex: 1;
    border:1px solid yellow;
    padding-top:20px;
    border-top: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    padding-bottom: 20px;
}
.flex-child-2{
    flex: 2;
    width: 20px;
    margin-right: 20px; 
    padding-top: 20px; 
}
.material-icons{
    padding-left: 20px;
}
.example-card-2{
    width: 700px;
    height: 95%;
}
.example-card-1{
    height: 100%;
}