.sample{
    height: 200px;
    background-color: white;
}
button {
    margin-right: 8px;
  }
  .save{
    align-items: center;
    float: inline-end;
  }
  .save:hover{
    background-color:lightcoral;
  }
  .saved:hover{
    background-color: skyblue;
  }