<p>
    <mat-toolbar color="accent"> 
      <span class="example"></span>
      <h1><b>ADMIN</b></h1>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="https://icons8.com/icon/ELTwbenuOQOs/out-patient-department">
        <mat-icon>https://icons8.com/icon/ELTwbenuOQOs/out-patient-department</mat-icon>
      </button>
      <a href="adminpf"><mat-icon>account_circle</mat-icon></a>
    </mat-toolbar>
</p>
<div>
    <mat-card class="sample">
      <mat-card-header>
        <mat-card-title>View</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
          <a href="doctorslist"><button mat-raised-button>view doctors</button></a>
          <mat-dialog-actions>
            <button (click)="openDialogBox1()">Open Delete</button>
          </mat-dialog-actions>
      </mat-card-actions>
    </mat-card>
</div>
<br>
<button (click)="openDialogBox2()">Open Add Doctor</button>
<button (click)="openDialogBox3()">Open Add Nurse</button>
<br><br>

<a href="patiendb"><mat-icon>dashboard</mat-icon></a>
<br>
<br>

<button mat-button (click)="openDialogBox4()" ><u>forgot password</u></button>
<br> 
<a href="patienthistory"><mat-icon style="text-decoration: none;">logout</mat-icon></a>
<br>
<button mat-button (click)="openDialogBox5()">Update Doctor</button>
<button mat-button (click)="openDialogBox6()">Update Nurse</button>
<button mat-button (click)="openDialogBox7()">Edit Prescription</button>
<button mat-button (click)="openDialogBox8()">New Observation</button>