<mat-toolbar color="primary">
    <button mat-icon-button (click)="nav.toggle()" ><mat-icon>menu</mat-icon></button>
    <div class="extra">Main Page</div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper">
    <mat-sidenav opened #nav>
        <a [routerLink]="['admin']" color="primary">
            <button mat-button>
                <mat-icon>home</mat-icon>
                <span>Admin</span>
            </button>
        </a>
        <br>
        <a [routerLink]="['doctorslist']" color="primary">
            <button mat-button>
                <mat-icon>person</mat-icon>
                <span>Doctors List</span>
            </button>
        </a>
        <br>
        <a [routerLink]="['nurseappoint']" color="primary">
            <button mat-button>
                <mat-icon>token</mat-icon>
                <span>Nurse DB</span>
            </button>
        </a>
      
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>-->
