<ng-container class="ex">
    <mat-card class="sample">
        <mat-card-header>
            <mat-icon>info</mat-icon>
            <br>
            <mat-card-title>Person B</mat-card-title>
            <mat-card-subtitle>Details</mat-card-subtitle>
        </mat-card-header>
        <br>
        <mat-card-content>
            <p>Age        : X years</p>
            <br>
            <p>Gender     : M/F </p>
            <br>
            <p>Weight     : X kgs</p>
            <br>
            <p>Height     : X ft</p>
            <br>
            <p>BloodGroup : X +/-</p>
            <br>
            <p>Disease    : Skin Allergy</p>
            <br>
            <p>Consulting Doctor : XYZ</p>
            <br>
            <p>Contact    : xxxxxxxxx</p>
        </mat-card-content>
        <br><br>
        <mat-card-actions align="end">
            <div mat-dialog-actions>
                <button mat-button (click)="openDialog()">Edit</button>
            </div>          
        </mat-card-actions>
    </mat-card>
</ng-container>

