<ng-container class="ex">
        <mat-card class="sample">
            <mat-card-header>
                <mat-icon>info</mat-icon>
                <br>
                <mat-card-title>Token ID : 23</mat-card-title>
                <mat-card-subtitle>Details</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>Person-A, X years</p>       
            </mat-card-content>
            <br><br>
            <mat-card-actions align="end">
                <div mat-dialog-actions>
                    <button mat-button (click)="openDialog()">Add Basic Details</button>
                </div>          
            </mat-card-actions>
        </mat-card>
</ng-container>


<!--<section>
<ng-container>
    <div class="token-1">
<mat-card class="sample-1">
    <mat-card-header>
        <mat-icon>info</mat-icon>
        <br>
      <mat-card-title>Person A</mat-card-title>
      <mat-card-subtitle>Details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Age        : X years</p>
      <p>Weight     : X kgs</p>
      <p>Height     : X ft</p>
      <p>BloodGroup : X +/-</p>
      <p>Disease    : Skin Allergy</p>
      <p>Consulting Doctor : XYZ</p>
      <p>Contact    : xxxxxxxxx</p>
    </mat-card-content>
    <mat-card-actions>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
          </div>          
    </mat-card-actions>
  </mat-card>
</div>
</ng-container>
</section>

<section>
<ng-container>
<div class="token-2">
<mat-card class="sample-2">
        <mat-card-header>
            <mat-icon>info</mat-icon>
            <br>
          <mat-card-title>Person B</mat-card-title>
          <mat-card-subtitle>Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Age        : X years</p>
          <p>Weight     : X kgs</p>
          <p>Height     : X ft</p>
          <p>BloodGroup : X +/-</p>
          <p>Disease    : Throat Infection</p>
          <p>Consulting Doctor : XYZ</p>
          <p>Contact    : xxxxxxxxx</p>
        </mat-card-content>
        <mat-card-actions>
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close>Close</button>
              </div>          
        </mat-card-actions>
    </mat-card>
</div>
</ng-container>
</section>

<!--<br>
<div class="token 3">
    <mat-card class="sample">
        <mat-card-header>
            <mat-icon>info</mat-icon>
            <br>
          <mat-card-title>Person C</mat-card-title>
          <mat-card-subtitle>Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Age        : X years</p>
          <p>Weight     : X kgs</p>
          <p>Height     : X ft</p>
          <p>BloodGroup : X +/-</p>
          <p>Disease    : Body Pains</p>
          <p>Consulting Doctor : XYZ</p>
          <p>Contact    : xxxxxxxxx</p>
        </mat-card-content>
        <mat-card-actions>
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close>Close</button>
              </div>          
        </mat-card-actions>
    </mat-card>
</div>
<br>
<div class="token 4">
    <mat-card class="sample">
        <mat-card-header>
            <mat-icon>info</mat-icon>
            <br>
          <mat-card-title>Person D</mat-card-title>
          <mat-card-subtitle>Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Age        : X years</p>
          <p>Weight     : X kgs</p>
          <p>Height     : X ft</p>
          <p>BloodGroup : X +/-</p>
          <p>Disease    : Leg Injury</p>
          <p>Consulting Doctor : XYZ</p>
          <p>Contact    : xxxxxxxxx</p>
        </mat-card-content>
        <mat-card-actions>
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close>Close</button>
              </div>          
        </mat-card-actions>
    </mat-card>
</div>
<br>
<div class="token 5">
    <mat-card class="sample">
        <mat-card-header>
            <mat-icon>info</mat-icon>
            <br>
          <mat-card-title>Person E</mat-card-title>
          <mat-card-subtitle>Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Age        : X years</p>
          <p>Weight     : X kgs</p>
          <p>Height     : X ft</p>
          <p>BloodGroup : X +/-</p>
          <p>Disease    : Fever</p>
          <p>Consulting Doctor : XYZ</p>
          <p>Contact    : xxxxxxxxx</p>
        </mat-card-content>
        <mat-card-actions>
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close>Close</button>
              </div>          
        </mat-card-actions>
    </mat-card>
</div>-->

  
